<header class="siteheader">
	<div class="wrapper wrapper--wide">
		<nav class="sitenav">
			<ul class="nav nav--sitenav">
				<li class="active"><a href="#">About Us</a></li>
				<li><a href="#">Global</a></li>
				<li><a href="#">CEE</a></li>
				<li><a href="#">Poland</a></li>
				<li><a href="#">Czech Republic</a></li>
				<li><a href="#">Hungary</a></li>
				<li><a href="#">Romania</a></li>
				<li><a href="#">SEE</a></li>
			</ul>
		</nav>
		<a href="{{ site.baseurl }}" class="sitelogo">
			GE for CEE	<small>Bringing power to the people in CEE</small>	
		</a>
		<ul class="areaslist">
			<li>GE Aviation</li>
			<li>GE Capital</li>
			<li>GE Energy management</li>
			<li>GE Healthcare</li>
			<li>GE Lightning</li>
			<li>GE Oil & Gas</li>
			<li>GE Power & Water</li>
			<li>GE Global Operations Center</li>
		</ul>

	</div>
</header>