<header class="siteheader">
	<div class="wrapper wrapper--wide">

		<a href="{{ site.baseurl }}" class="sitelogo">
			GE for CEE	<small>Bringing power to the people in CEE</small>	
		</a>
		
		<div class="mobilebuttons">
			<label class="searchtoggle" for="searchtoggle">
				<i class="icon icon--search_lg"></i>
			</label>

			<label class="navtoggle" for="navtoggle">
				<i class="icon icon--alignjustify_lg"></i>
			</label>
		</div>

		<input class="dontshow" type="checkbox" id="searchtoggle" name="searchtoggle">
		<div class="siteheader__search">
			<form class="form form--search"action="#">
				<label for="search">search tags</label>
				<div class="inputwrapper inputwrapper--ondark">	
					<input type="search" id="search" name="search" placeholder="add a tag to search site">
					<a href="#" class="btn btn--submit"><i class="icon icon--search_lg"></i></a>
				</div>				
			</form>
		</div>

		

		<input class="dontshow" type="checkbox" id="navtoggle" name="navtoggle">
		<div class="siteheader__tohide">
			<nav class="sitenav">
				<ul class="nav nav--sitenav">
					<li class="active"><a href="#">About Us</a></li>
					<li><a href="#">Global</a></li>
					<li><a href="#">CEE</a></li>
					<li><a href="#">Poland</a></li>
					<li><a href="#">Czech Republic</a></li>
					<li><a href="#">Hungary</a></li>
					<li><a href="#">Romania</a></li>
					<li><a href="#">SEE</a></li>
				</ul>
			</nav>
			<ul class="follow">
					<li><a class="follow__flickr" href="#">
						<i class="icon icon--flicker_sq"></i></a>
					</li>
					<li><a class="follow__facebook" href="#">
						<i class="icon icon--facebook_sq_lg"></i></a>
					</li>
					<li><a class="follow__youtube"href="#">
						<i class="icon icon--youtube_sq"></i>
					</a></li>
					<li><a class="follow__linkedin"href="#">
						<i class="icon icon--linkedin_sq_lg"></i></a>
					</li>
					<li><a class="follow__twitter"href="#">
						<i class="icon icon--twitter_sq_lg"></i>
					</a></li>
					<li><a class="follow__rss"href="#">
						<i class="icon icon--feed_sq_lg"></i>
					</a></li>
			</ul>
			<nav class="areasnav">
				<ul class="areaslist">
					<li><a href="#"><i class="icon icon--plane_lg"></i><span>Aviation</span></a></li>
					<li><a href="#"><i class="icon icon--moneydollar_lg"></i><span>Capital</span></a></li>
					<li><a href="#"><i class="icon icon--energy_management_sq"></i><span>Energy management</span></a></li>
					<li><a href="#"><i class="icon icon--medicalkit_lg"></i><span>Healthcare</span></a></li>
					<li><a href="#"><i class="icon icon--lightbulb_lg"></i><span>Lightning</span></a></li>
					<li><a href="#"><i class="icon icon--oilandgas"></i><span>Oil & Gas</span></a></li>
					<li><a href="#"><i class="icon icon--powerandwater"></i><span>Power & Water</span></a></li>
					<li><a href="#"><i class="icon icon--record_sm"></i><span>Global Operations Center</span></a></li>
				</ul>
			</nav>
		</div>

	</div>
</header>