<section class="topwidgets">
	<div class="wrapper wrapper--normal">
		<div class="row">
			<div class="col col--4 hideonmobile">
				<form class="form form--search"action="#">
					<label for="search">search tags</label>
					<div class="inputwrapper">	
						<input type="search" id="search" name="search" placeholder="search on GEforCEE &hellip;">
						<a href="#" class="btn btn--submit"><i class="icon icon--search_lg"></i></a>
					</div>				
				</form>
			</div>
			<div class="col col--4">
				<form class="form form--subscribe"action="#">
					<label for="search">subscribe to GEreports</label>
					<div class="inputwrapper">	
						<input type="email" id="email" name="email" placeholder="add email to subscribe GEreports">
						<a href="#" class="btn btn--submit"><i class="icon icon--mail_lg"></i></a>
					</div>
				</form>
			</div>
			<div class="col col--4 hideonmobile">
				<ul class="follow">
					<li><a class="follow__facebook" href="#">
						<i class="icon icon--facebook_sq_lg"></i></a>
					</li>
					<li><a class="follow__youtube"href="#">
						<i class="icon icon--googleplus_sq_lq"></i>
					</a></li>
					<li><a class="follow__linkedin"href="#">
						<i class="icon icon--linkedin_sq_lg"></i></a>
					</li>
					<li><a class="follow__twitter"href="#">
						<i class="icon icon--twitter_sq_lg"></i>
					</a></li>
					<li><a class="follow__rss"href="#">
						<i class="icon icon--feed_sq_lg"></i>
					</a></li>
				</ul>
			</div>
		</div>

	</div>
</section>