
@font-face {
  font-family: 'GEInspira';
  src: url('../fonts/GEInspira.eot');
  src: url('../fonts/GEInspira.eot?#iefix') format('embedded-opentype'),  url('../fonts/GEInspira.woff') format('woff'), url('../fonts/GEInspira.ttf')  format('truetype'), url('../fonts/GEInspira.svg#GEInspira') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'GEInspira';
  src: url('../fonts/GEInspira-Bold.eot'); 
  src: url('../fonts/GEInspira-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GEInspira-Bold.woff') format('woff'), url('../fonts/GEInspira-Bold.ttf')  format('truetype'), url('../fonts/GEInspira-Bold.svg#GEInspira-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'GEInspira';
  src: url('../fonts/GEInspira-BoldItalic.eot');
  src: url('../fonts/GEInspira-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GEInspira-BoldItalic.woff') format('woff'), url('../fonts/GEInspira-BoldItalic.ttf')  format('truetype'), url('../fonts/GEInspira-BoldItalic.svg#GEInspira-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'GEInspira';
  src: url('../fonts/GEInspira-Italic.eot');
  src: url('../fonts/GEInspira-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GEInspira-Italic.woff') format('woff'), url('../fonts/GEInspira-Italic.ttf')  format('truetype'), url('../fonts/GEInspira-Italic.svg#GEInspira-Italic') format('svg');
  font-weight: 400;
  font-style: italic
}


@font-face {
  font-family: 'GEInspiraSerif';
  src: url('../fonts/GEInspiraSerif-Bold.eot');
  src: url('../fonts/GEInspiraSerif-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GEInspiraSerif-Bold.woff') format('woff'), url('../fonts/GEInspiraSerif-Bold.ttf')  format('truetype'), url('../fonts/GEInspiraSerif-Bold.svg#GEInspiraSerif-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'GEInspiraSerif';;
  src: url('../fonts/GEInspiraSerif-BoldItalic.eot');
  src: url('../fonts/GEInspiraSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GEInspiraSerif-BoldItalic.woff') format('woff'), url('../fonts/GEInspiraSerif-BoldItalic.ttf')  format('truetype'), url('../fonts/GEInspiraSerif-BoldItalic.svg#GEInspiraSerif-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'GEInspiraSerif';
  src: url('../fonts/GEInspiraSerif-Italic.eot');
  src: url('../fonts/GEInspiraSerif-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/GEInspiraSerif-Italic.woff') format('woff'), url('../fonts/GEInspiraSerif-Italic.ttf')  format('truetype'), url('../fonts/GEInspiraSerif-Italic.svg#GEInspiraSerif-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'GEInspiraSerif';
  src: url('../fonts/GEInspiraSerif-Regular.eot');
  src: url('../fonts/GEInspiraSerif-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/GEInspiraSerif-Regular.woff') format('woff'), url('../fonts/GEInspiraSerif-Regular.ttf')  format('truetype'), url('../fonts/GEInspiraSerif-Regular.svg#GEInspiraSerif-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
